* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.panel-ops-chiled:hover {
    border: 1.5px solid white;
}
.panel-all:hover {
    border: 2.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px; 
}

.add-second {
    font-size: 1rem;
    margin-left: 3px; 
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1.1em;
    box-sizing: border-box;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700 ;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.penel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    animation: change 35s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url(image1.jpg);
    }
    20% {
        background-image: url(image2.jpg);
    }
    40% {
        background-image: url(image3.jpg);
    }
    60% {
        background-image: url(image4.jpg);
    }
    80% {
        background-image: url(image5.jpg);
    }
    100% {
        background-image: url(image6.jpg);
    }
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    bottom: 25px;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.item {
    display: flex;
    background-color: white;
    margin: 2px;
    width: 100%;
    height: 300px;
    padding: 15px;
    border: 1px solid #ddd;
}

.item-img {
    width: 30%;
    height: 280px;
    background-size: cover;
    background-position: center;
}

.item-details {
    width: 70%;
    padding-left: 15px;
}

.item-details h3 {
    margin-bottom: 5px;
}

.item-details p {
    margin: 5px 0;
}

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}
